services:
  postgres_db:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G
    networks:
      - app_network
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  tgbot:
    container_name: tgbot
    restart: "no"
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - postgres_db
      - nats
      - drawing
    networks:
      - app_network
      - nats_network
      - driver_network
    volumes:
      - ./schedules:/images

  drawing:
    container_name: drawing
    restart: 'always'
    build:
      context: ./Drawing/
      dockerfile: ./Drawing/Dockerfile
    networks:
      - driver_network
    volumes:
      - ./schedules:/images

  nats:
    image: nats:latest
    container_name: nats
    entrypoint: /nats-server
    command: "-c /config/server.conf"
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - ./nats/data:/data
      - ./nats/config/server.conf:/config/server.conf
    networks:
      - nats_network

  nats-nui:
    image: ghcr.io/nats-nui/nui:latest
    container_name: nats-nui
    ports:
      - "31311:31311"
    volumes:
      - ./nui/db:/db
    depends_on:
      - nats
    networks:
      - nats_network

volumes:
  postgres-data:
  nats_data:
  nats_config:
  nui_db:
  images:

networks:
  app_network:
    driver: bridge
  nats_network:
    driver: bridge
  driver_network:
    driver: bridge
