aiogram~=3.3.0
APScheduler~=3.10.4
SQLAlchemy~=2.0.29
pydantic~=2.5.3
aiohttp~=3.9.3
grpcio~=1.66.1
simplejson~=3.19.2
typing_extensions~=4.10.0
requests~=2.31.0
beautifulsoup4~=4.12.3
nats-py~=2.9.0
python-dotenv~=1.0.1
protobuf~=5.27.2
alembic~=1.13.1